# Git
.gitconfig

# Mac OS
.DS_Store
.AppleDouble
.AppleDesktop
.AppleDB

# Windows
Thumbs.db

# Dreamweaver
_compareTemp
_notes
*.mno

# Compass
compass_start.bat
.sass-cache

# Server
.mysql_history
.htaccess

# sublime
sftp-config.json
.sublime-grunt.cache
.sublime-gulp.cache

# node.js
node_modules
npm-debug.log

# Others
_old
_bk
_sample
*.bak
*.log
._*

# terminal
.bash_history
.bash_logout
.bash_profile
.bashrc
.vim
.viminfo
logs
